<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.exceltest.mapper.RandomPeopleMapper">
    <insert id="save" parameterType="com.example.exceltest.domain.RandomPeople">
        insert into jiading_random_people
            (id, lng, lat, address, street, road, city_x, cityx_y, ramdom, del-flag)
        values
        (#{id}, #{lng}, #{lat}, #{address}, #{street}, #{road}, #{city_x}, #{city_y}, #{random} ,0)
    </insert>
</mapper>